<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yufeimen.application.mapper.MedicDynamicMenuMapper" >
  <resultMap id="BaseResultMap" type="com.yufeimen.application.model.MedicDynamicMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_creator" property="gmtCreator" jdbcType="VARCHAR" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="gmt_updator" property="gmtUpdator" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="account_role" property="accountRole" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yufeimen.application.model.MedicDynamicMenu" extends="BaseResultMap" >
    <result column="menu_json" property="menuJson" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_creator, gmt_updated, gmt_updator, is_deleted, account_role
  </sql>
  <sql id="Blob_Column_List" >
    menu_json
  </sql>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MEDIC_DYNAMIC_MENU
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getDynamicMenuByRole" resultType="string">
    SELECT MENU_JSON FROM MEDIC_DYNAMIC_MENU
    WHERE ACCOUNT_ROLE=#{accountRole}
    AND IS_DELETED = 'N'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MEDIC_DYNAMIC_MENU
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.yufeimen.application.model.MedicDynamicMenu" >
    insert into MEDIC_DYNAMIC_MENU (id, gmt_created, gmt_creator, 
      gmt_updated, gmt_updator, is_deleted, 
      account_role, menu_json)
    values (#{id,jdbcType=INTEGER}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtCreator,jdbcType=VARCHAR}, 
      #{gmtUpdated,jdbcType=TIMESTAMP}, #{gmtUpdator,jdbcType=VARCHAR}, #{isDeleted,jdbcType=CHAR}, 
      #{accountRole,jdbcType=VARCHAR}, #{menuJson,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.yufeimen.application.model.MedicDynamicMenu" >
    insert into MEDIC_DYNAMIC_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtCreator != null" >
        gmt_creator,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="gmtUpdator != null" >
        gmt_updator,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="accountRole != null" >
        account_role,
      </if>
      <if test="menuJson != null" >
        menu_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null" >
        #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdator != null" >
        #{gmtUpdator,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="accountRole != null" >
        #{accountRole,jdbcType=VARCHAR},
      </if>
      <if test="menuJson != null" >
        #{menuJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yufeimen.application.model.MedicDynamicMenu" >
    update MEDIC_DYNAMIC_MENU
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null" >
        gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdator != null" >
        gmt_updator = #{gmtUpdator,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="accountRole != null" >
        account_role = #{accountRole,jdbcType=VARCHAR},
      </if>
      <if test="menuJson != null" >
        menu_json = #{menuJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yufeimen.application.model.MedicDynamicMenu" >
    update MEDIC_DYNAMIC_MENU
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      gmt_updator = #{gmtUpdator,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=CHAR},
      account_role = #{accountRole,jdbcType=VARCHAR},
      menu_json = #{menuJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.yufeimen.application.model.MedicDynamicMenu" >
    update MEDIC_DYNAMIC_MENU
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=VARCHAR},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      gmt_updator = #{gmtUpdator,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=CHAR},
      account_role = #{accountRole,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>